<style type="text/css">
  


</style>


<!DOCTYPE html>
<html lang="en" class="app">
<head>  
  <meta charset="utf-8" />
  <title>DMD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="js/jPlayer/jplayer.flat.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="css/animate.css" type="text/css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="css/font.css" type="text/css" />
  <link rel="stylesheet" href="css/app.css" type="text/css" />  
</head>
<body class="">
  <section class="vbox">
    <header class="bg-white-only header header-md navbar navbar-fixed-top-xs" style="background-color:#5a6a7a">
     
    </header>
    <section>
      <section class="hbox stretch">
        </div>
      </section>
            
          </section>
        </aside>
        <!-- /.aside -->
        <section id="content">
          <section class="hbox stretch">
            <section>
              <section class="vbox">
                <section class="scrollable padder-lg w-f-md" id="bjax-target" style="background-color: #F2F4F8">
                  <a href="../" class="pull-right text-muted m-t-lg"><i class="icon-home i-lg  inline" id="refresh"></i> Go Home</a>
                  <h2 class="font-thin m-b">Drew's Movie Database <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
                    <span class="bar1 a1 bg-primary lter"></span>
                    <span class="bar2 a2 bg-info lt"></span>
                    <span class="bar3 a3 bg-success"></span>
                    <span class="bar4 a4 bg-warning dk"></span>
                    <span class="bar5 a5 bg-danger dker"></span>
                  </span></h2>
                  <div class="row row-sm">

                  <div class="col-sm-12">
                    <section class="panel panel-default">
                      <header class="panel-heading font-bold">Add A Movie</header>
                      <div class="panel-body">
                        <!-- <form action="../home" method="post"> -->
                        <%= form_tag("../home", method: "post", :multipart => true) do |f| %>
                          <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" required="">
                          </div>
                          <div class="form-group">
                            <label>Length</label>
                            <input type="text" name="hours" class="form-control" required="" placeholder="Hours">
                            <div style="padding-top:10px;"></div>
                            <input type="text" name="minutes" class="form-control" required="" placeholder="Minutes">
                          </div>
                          <div class="form-group">
                            <label>Rating</label>
                            <input type="text" name="rating" class="form-control" placeholder="1-5" required="">
                          </div>
                          <div class="form-group">
                            <label>Release Year</label>
                            <input type="text" name="release" class="form-control" required="">
                          </div>
                          <div class="form-group">
                            <label>IMDB Image URL</label>
                            <%= file_field_tag 'image_url' %>
                          </div>
                          <div class="form-group">
                            <label>YouTube Embedded Trailer</label>
                            <input type="text" name="trailer" class="form-control" placeholder="<iframe width='560' height='315' src='//www.youtube.com/embed/bgqBtquItHM' frameborder='0' allowfullscreen></iframe>">
                            <i>**Optional Found by searching movie on YouTube >> click embed >> copy embed iframe</i> 
                          </div>
                          <label>Movie Format</label>
                          <div class="radio i-checks">
                            <label>
                              <input type="radio" name="format" value="VHS" checked="">
                              <i></i>
                              VHS
                            </label>
                          </div>
                          <div class="radio i-checks">
                            <label>
                              <input type="radio" name="format" value="DVD">
                              <i></i>
                              DVD
                            </label>
                          </div>
                          <div class="radio i-checks">
                            <label>
                              <input type="radio" name="format" value="Streaming">
                              <i></i>
                              Streaming
                            </label>
                          </div>
                          <button type="submit" class="btn btn-sm btn-default">Submit</button>
                          <% end %>
                        <!-- </form> -->
                      </div>
                    </section>
                  </div>
                  </div>
                </section>
                <footer class="footer bg-dark">
                  <div id="jp_container_N">

                  </div>
                </footer>
              </section>
            </section>

          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>    
  </section>
  <script src="js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- App -->
  <script src="js/app.js"></script>  
  <script src="js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/app.plugin.js"></script>
  <script type="text/javascript" src="js/jPlayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="js/jPlayer/add-on/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="js/jPlayer/demo.js"></script>
</body>
</html>